# Prediksi Harga Rumah dengan ML

In [1]:
print("hello data scientist")

hello data scientist

## Menyiapkan Data

In [2]:
import pandas as pd
import numpy as np

In [3]:
URL = "https://raw.githubusercontent.com/ageron/handson-ml/master/datasets/housing/housing.csv"
df = pd.read_csv(URL)

df.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
5,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY
6,-122.25,37.84,52.0,2535.0,489.0,1094.0,514.0,3.6591,299200.0,NEAR BAY
7,-122.25,37.84,52.0,3104.0,687.0,1157.0,647.0,3.1200,241400.0,NEAR BAY
8,-122.26,37.84,42.0,2555.0,665.0,1206.0,595.0,2.0804,226700.0,NEAR BAY
9,-122.25,37.84,52.0,3549.0,707.0,1551.0,714.0,3.6912,261100.0,NEAR BAY

## Deskripsi Data

In [4]:
df.shape

(20640, 10)

In [5]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [6]:
# Convert to DataFrame for easy manipulation
columns = df.longitude
housing_df = pd.DataFrame(df.longitude, columns=columns)

# Show first few rows of the dataframe
print(housing_df.head())

Empty DataFrame
Columns: [-122.23, -122.22, -122.24, -122.25, -122.25, -122.25, -122.25, -122.25, -122.26, -122.25, -122.26, -122.26, -122.26, -122.26, -122.26, -122.26, -122.27, -122.27, -122.26, -122.27, -122.27, -122.27, -122.27, -122.27, -122.27, -122.28, -122.28, -122.28, -122.28, -122.28, -122.28, -122.28, -122.27, -122.27, -122.27, -122.27, -122.27, -122.28, -122.26, -122.26, -122.26, -122.26, -122.26, -122.26, -122.26, -122.26, -122.26, -122.27, -122.26, -122.27, -122.27, -122.27, -122.27, -122.27, -122.28, -122.28, -122.28, -122.28, -122.28, -122.29, -122.29, -122.29, -122.29, -122.3, -122.3, -122.3, -122.3, -122.29, -122.3, -122.29, -122.29, -122.29, -122.29, -122.29, -122.29, -122.28, -122.28, -122.28, -122.29, -122.28, -122.28, -122.27, -122.28, -122.28, -122.28, -122.28, -122.27, -122.27, -122.27, -122.27, -122.27, -122.28, -122.28, -122.27, -122.27, -122.26, -122.26, -122.26, -122.26, -122.26, ...]
Index: []

[0 rows x 20640 columns]

In [7]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

## Split Data Train dan Test

In [8]:
from sklearn.model_selection import train_test_split

# Memisahkan fitur dan target berdasarkan label kolom
X = df.drop('median_house_value', axis=1) # Semua kolom kecuali target
y = df['median_house_value']              # Hanya kolom target

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=20)

In [9]:
print(X_train)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
7728     -118.13     33.92                28.0       3069.0           864.0
14565    -117.20     32.84                32.0       2033.0           394.0
8099     -118.22     33.81                41.0        726.0           166.0
4772     -118.34     34.04                42.0       1681.0           360.0
11663    -118.02     33.85                31.0       1922.0           329.0
...          ...       ...                 ...          ...             ...
1607     -122.08     37.87                24.0       6130.0          1359.0
3915     -118.52     34.19                37.0       1560.0           275.0
14729    -117.02     32.80                31.0       2692.0           445.0
4367     -118.27     34.10                41.0       3729.0           740.0
15715    -122.45     37.79                46.0       2009.0           464.0

       population  households  median_income ocean_proximity
7728       1932.0       835.0         2.4925       <1H OCEAN
14565       989.0       389.0         3.2583      NEAR OCEAN
8099        602.0       183.0         3.7885      NEAR OCEAN
4772        987.0       337.0         2.6000       <1H OCEAN
11663      1030.0       353.0         5.3416       <1H OCEAN
...           ...         ...            ...             ...
1607       1750.0      1286.0         2.9167        NEAR BAY
3915        763.0       284.0         3.8516       <1H OCEAN
14729      1129.0       450.0         4.4583       <1H OCEAN
4367       1364.0       707.0         5.7778       <1H OCEAN
15715       761.0       453.0         3.7188        NEAR BAY

[16512 rows x 9 columns]

In [10]:
print(y_train)

7728     177200.0
14565    181400.0
8099     156900.0
4772     171400.0
11663    213000.0
           ...
1607     102700.0
3915     206900.0
14729    170000.0
4367     412700.0
15715    500001.0
Name: median_house_value, Length: 16512, dtype: float64

In [11]:
X_train.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        168
population              0
households              0
median_income           0
ocean_proximity         0
dtype: int64

In [12]:
X_test.isnull().sum()

longitude              0
latitude               0
housing_median_age     0
total_rooms            0
total_bedrooms        39
population             0
households             0
median_income          0
ocean_proximity        0
dtype: int64

## Pipeline Preprocessing Data dan Modeling

In [13]:
num_features = X_train.select_dtypes(include=['int64', 'float64']).columns
cat_features = ["ocean_proximity"]

print(num_features, "\n", cat_features)

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income'],
      dtype='str')
 ['ocean_proximity']

In [14]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import RobustScaler, OneHotEncoder
from sklearn.svm import SVR
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression, SGDRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor


numeric_pipeline = Pipeline(steps=[
        ("imputer", SimpleImputer(strategy="median")), 
        ("scaler", RobustScaler())
    ])

categorical_pipeline = Pipeline(steps=[
        ("imputer", SimpleImputer(strategy="most_frequent")),
        ("encoder", OneHotEncoder(handle_unknown="ignore"))
    ])

preprocessing_pipeline = ColumnTransformer(transformers=[
            ("num", numeric_pipeline, num_features),
            ("cat", categorical_pipeline, cat_features)    
    ])

model_pipeline = Pipeline(steps=[
    ("preprocessing", preprocessing_pipeline),
    ("model", LinearRegression())
    ])

model_pipeline2 = Pipeline(steps=[
    ("preprocessing", preprocessing_pipeline),
    ("model", SGDRegressor())
    ])

model_pipeline3 = Pipeline(steps=[
    ("preprocessing", preprocessing_pipeline),
    ("model", RandomForestRegressor(n_estimators=100, random_state=20))
])

model_pipeline4 = Pipeline(steps=[
    ("preprocessing", preprocessing_pipeline),
    ("model", GradientBoostingRegressor(n_estimators=100, random_state=20))
])

In [15]:
model_pipeline.fit(X_train, y_train)

print('Train R^2 Score : %.3f'%model_pipeline.score(X_train, y_train))
print('Test R^2 Score : %.3f'%model_pipeline.score(X_test, y_test))

Train R^2 Score : 0.647
Test R^2 Score : 0.637

In [16]:
model_pipeline2.fit(X_train, y_train)

print('Train R^2 Score : %.3f'%model_pipeline2.score(X_train, y_train))
print('Test R^2 Score : %.3f'%model_pipeline2.score(X_test, y_test))

Train R^2 Score : 0.644
Test R^2 Score : 0.630

In [18]:
model_pipeline3.fit(X_train, y_train)

print('Train R^2 Score : %.3f'%model_pipeline3.score(X_train, y_train))
print('Test R^2 Score : %.3f'%model_pipeline3.score(X_test, y_test))

Train R^2 Score : 0.975
Test R^2 Score : 0.833

In [19]:
model_pipeline4.fit(X_train, y_train)

print('Train R^2 Score : %.3f'%model_pipeline4.score(X_train, y_train))
print('Test R^2 Score : %.3f'%model_pipeline4.score(X_test, y_test))

Train R^2 Score : 0.784
Test R^2 Score : 0.781

Best Model adalah Random Forest dengan akurasi train melebihi 90% dan test melebih 80%

In [20]:
# Create a test sample with the same features as training data
test_sample = pd.DataFrame({
    'longitude': [-122.25],
    'latitude': [37.85],
    'housing_median_age': [52],
    'total_rooms': [1820],
    'total_bedrooms': [300],
    'population': [806],
    'households': [270],
    'median_income': [3.1],
    'ocean_proximity': ['NEAR BAY']
})

# Make prediction using both models
prediction1 = model_pipeline.predict(test_sample)[0]
prediction2 = model_pipeline2.predict(test_sample)[0]
prediction3 = model_pipeline3.predict(test_sample)[0]
prediction4 = model_pipeline4.predict(test_sample)[0]

print("Test Data:")
print(test_sample)
print("\n" + "="*50)
print(f"Prediksi Harga Rumah (Linear Regression): ${prediction1:,.2f}")
print(f"Prediksi Harga Rumah (SGD Regressor): ${prediction2:,.2f}")
print(f"Prediksi Harga Rumah (Random Forest Regressor): ${prediction3:,.2f}")
print(f"Prediksi Harga Rumah (Gradient Boosting Regressor): ${prediction4:,.2f}")
print("="*50)

Test Data:
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.25     37.85                  52         1820             300

   population  households  median_income ocean_proximity
0         806         270            3.1        NEAR BAY

==================================================
Prediksi Harga Rumah (Linear Regression): $217,999.69
Prediksi Harga Rumah (SGD Regressor): $218,606.38
Prediksi Harga Rumah (Random Forest Regressor): $232,156.01
Prediksi Harga Rumah (Gradient Boosting Regressor): $200,087.23
==================================================