In [8]:
print("hello world")

hello world

In [9]:
%pip install pandas

Requirement already satisfied: pandas in ./myvenv/lib64/python3.14/site-packages (3.0.0)
Requirement already satisfied: numpy>=2.3.3 in ./myvenv/lib64/python3.14/site-packages (from pandas) (2.4.1)
Requirement already satisfied: python-dateutil>=2.8.2 in ./myvenv/lib64/python3.14/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in ./myvenv/lib64/python3.14/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pandas as pd
import numpy as np

In [11]:
URL = "https://raw.githubusercontent.com/ageron/handson-ml/master/datasets/housing/housing.csv"
df = pd.read_csv(URL)

df.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
5,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY
6,-122.25,37.84,52.0,2535.0,489.0,1094.0,514.0,3.6591,299200.0,NEAR BAY
7,-122.25,37.84,52.0,3104.0,687.0,1157.0,647.0,3.1200,241400.0,NEAR BAY
8,-122.26,37.84,42.0,2555.0,665.0,1206.0,595.0,2.0804,226700.0,NEAR BAY
9,-122.25,37.84,52.0,3549.0,707.0,1551.0,714.0,3.6912,261100.0,NEAR BAY

In [12]:
df.shape

(20640, 10)

In [13]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [14]:
# Convert to DataFrame for easy manipulation
columns = df.longitude
housing_df = pd.DataFrame(df.longitude, columns=columns)

# Show first few rows of the dataframe
print(housing_df.head())

Empty DataFrame
Columns: [-122.23, -122.22, -122.24, -122.25, -122.25, -122.25, -122.25, -122.25, -122.26, -122.25, -122.26, -122.26, -122.26, -122.26, -122.26, -122.26, -122.27, -122.27, -122.26, -122.27, -122.27, -122.27, -122.27, -122.27, -122.27, -122.28, -122.28, -122.28, -122.28, -122.28, -122.28, -122.28, -122.27, -122.27, -122.27, -122.27, -122.27, -122.28, -122.26, -122.26, -122.26, -122.26, -122.26, -122.26, -122.26, -122.26, -122.26, -122.27, -122.26, -122.27, -122.27, -122.27, -122.27, -122.27, -122.28, -122.28, -122.28, -122.28, -122.28, -122.29, -122.29, -122.29, -122.29, -122.3, -122.3, -122.3, -122.3, -122.29, -122.3, -122.29, -122.29, -122.29, -122.29, -122.29, -122.29, -122.28, -122.28, -122.28, -122.29, -122.28, -122.28, -122.27, -122.28, -122.28, -122.28, -122.28, -122.27, -122.27, -122.27, -122.27, -122.27, -122.28, -122.28, -122.27, -122.27, -122.26, -122.26, -122.26, -122.26, -122.26, ...]
Index: []

[0 rows x 20640 columns]