In [8]:
print("hello world")

hello world

In [9]:
%pip install pandas

Requirement already satisfied: pandas in ./myvenv/lib64/python3.14/site-packages (3.0.0)
Requirement already satisfied: numpy>=2.3.3 in ./myvenv/lib64/python3.14/site-packages (from pandas) (2.4.1)
Requirement already satisfied: python-dateutil>=2.8.2 in ./myvenv/lib64/python3.14/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in ./myvenv/lib64/python3.14/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pandas as pd
import numpy as np

In [11]:
URL = "https://raw.githubusercontent.com/ageron/handson-ml/master/datasets/housing/housing.csv"
df = pd.read_csv(URL)

df.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
5,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY
6,-122.25,37.84,52.0,2535.0,489.0,1094.0,514.0,3.6591,299200.0,NEAR BAY
7,-122.25,37.84,52.0,3104.0,687.0,1157.0,647.0,3.1200,241400.0,NEAR BAY
8,-122.26,37.84,42.0,2555.0,665.0,1206.0,595.0,2.0804,226700.0,NEAR BAY
9,-122.25,37.84,52.0,3549.0,707.0,1551.0,714.0,3.6912,261100.0,NEAR BAY

In [12]:
df.shape

(20640, 10)

In [13]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [14]:
# Convert to DataFrame for easy manipulation
columns = df.longitude
housing_df = pd.DataFrame(df.longitude, columns=columns)

# Show first few rows of the dataframe
print(housing_df.head())

Empty DataFrame
Columns: [-122.23, -122.22, -122.24, -122.25, -122.25, -122.25, -122.25, -122.25, -122.26, -122.25, -122.26, -122.26, -122.26, -122.26, -122.26, -122.26, -122.27, -122.27, -122.26, -122.27, -122.27, -122.27, -122.27, -122.27, -122.27, -122.28, -122.28, -122.28, -122.28, -122.28, -122.28, -122.28, -122.27, -122.27, -122.27, -122.27, -122.27, -122.28, -122.26, -122.26, -122.26, -122.26, -122.26, -122.26, -122.26, -122.26, -122.26, -122.27, -122.26, -122.27, -122.27, -122.27, -122.27, -122.27, -122.28, -122.28, -122.28, -122.28, -122.28, -122.29, -122.29, -122.29, -122.29, -122.3, -122.3, -122.3, -122.3, -122.29, -122.3, -122.29, -122.29, -122.29, -122.29, -122.29, -122.29, -122.28, -122.28, -122.28, -122.29, -122.28, -122.28, -122.27, -122.28, -122.28, -122.28, -122.28, -122.27, -122.27, -122.27, -122.27, -122.27, -122.28, -122.28, -122.27, -122.27, -122.26, -122.26, -122.26, -122.26, -122.26, ...]
Index: []

[0 rows x 20640 columns]

In [15]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [18]:
from sklearn.model_selection import train_test_split

# Memisahkan fitur dan target berdasarkan label kolom
X = df.drop('median_house_value', axis=1) # Semua kolom kecuali target
y = df['median_house_value']              # Hanya kolom target

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)

In [19]:
print(X_train)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
14196    -117.03     32.71                33.0       3126.0           627.0
8267     -118.16     33.77                49.0       3382.0           787.0
17445    -120.48     34.66                 4.0       1897.0           331.0
14265    -117.11     32.69                36.0       1421.0           367.0
2271     -119.80     36.78                43.0       2382.0           431.0
...          ...       ...                 ...          ...             ...
11284    -117.96     33.78                35.0       1330.0           201.0
11964    -117.43     34.02                33.0       3084.0           570.0
5390     -118.38     34.03                36.0       2101.0           569.0
860      -121.96     37.58                15.0       3575.0           597.0
15795    -122.42     37.77                52.0       4226.0          1315.0

       population  households  median_income ocean_proximity
14196      2300.0       623.0         3.2596      NEAR OCEAN
8267       1314.0       756.0         3.8125      NEAR OCEAN
17445       915.0       336.0         4.1563      NEAR OCEAN
14265      1418.0       355.0         1.9425      NEAR OCEAN
2271        874.0       380.0         3.5542          INLAND
...           ...         ...            ...             ...
11284       658.0       217.0         6.3700       <1H OCEAN
11964      1753.0       449.0         3.0500          INLAND
5390       1756.0       527.0         2.9344       <1H OCEAN
860        1777.0       559.0         5.7192       <1H OCEAN
15795      2619.0      1242.0         2.5755        NEAR BAY

[16512 rows x 9 columns]

In [20]:
print(y_train)

14196    103000.0
8267     382100.0
17445    172600.0
14265     93400.0
2271      96500.0
           ...
11284    229200.0
11964     97800.0
5390     222100.0
860      283500.0
15795    325000.0
Name: median_house_value, Length: 16512, dtype: float64